//fonts
$primary_font: 'Outfit', sans-serif;
$title_font: 'The Nautigal', cursive;
//text color
$title_color: #69a0fd;
//btn color
$btn_primary_color: #ef6f31;
$btn_secondary_color: #fdf0ea;
$btn_prymary_hover: #6ac5f1;
//layout
$padding_section: 50px;
$width_primary_container: 73%;

